@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }

  .icons-card {
    @apply text-slate-500 hover:text-emerald-600 transition-colors duration-300 cursor-pointer;
  }
}
